html,
body {
  font-family: 'Noto Sans', sans-serif;
  background: #F5F6F8;
  color: var(--black); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --black: #3B434E;
  --grey-light: #EBEBEB;
  --white: white;
  --primary: #7653FC;
  --primary-hover: #6344DF;
  --red: #FC836D;
  --green: #1DC37E;
  --green0light: #C8F8E4;
}